#root {
  background-color: var(--main-background-color);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-container {
  width: 100%;
  background-color: var(--main-background-color);
}

@media only screen and (orientation: landscape) {
  #root {
    height: 100vh;
  }

  .App-container {
    width: 50%;
  }
}

@media only screen and (min-width: 600px) and (orientation: portrait) {
  .App-container {
    width: 600px;
  }
}

